<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Email.From" value=""/>
    <add key="Email.To" value=""/>
    <add key="Email.SmtpHost" value=""/>
    
  </appSettings>
</configuration>